{{ attach_library('ssp_auth/identity-provider-list') }}

<div id="ssp-auth-identity-providers">
  {% for key, provider in identity_providers %}
    <a href="{{ provider.login_link }}">{{ provider.label }}</a>
  {% endfor %}
</div>
